body{
    background-color: hsl(285, 9%, 23%);
    text-align: center;
    justify-content: center;
    display: flex;
    width: 100%;
    height: 100%;
    color: hsl(285, 9%, 23%);
    /* cursor: url("../red.png"), auto; */
}
h1{
    margin: 5px 0;
  
    color:cadetblue;
}
#wrapper{
    width: 360px;

}
#mastermind{
    width: 300px;
    /* border: solid 1px #000; */
    border-radius: 5px;
    background-color: #888;
    margin: 2px auto;
    padding: 2px;
}
#mystery{
    border-top: 1px solid #000;
}
#mystery .rond{
    text-align: center;
    line-height: 26px;
    font-weight: bold;
    border-color: hsl(285, 9%, 23%);
    color: hsl(285, 9%, 23%);
}
#estimation,#colorDisplay{
    border-bottom: solid 1px #000;
    justify-content: space-around;
}
#mystery, #estimation, #colorDisplay, #historique{
    display: flex;
    /* flex-direction: row; */
    padding: 2px 0;
}
#historique{
    flex-direction: column;

}
#colorDisplay{
    justify-content: space-evenly;
    padding: 2px 50px;
}
#colorDisplay .rond{
    opacity: 0.6;
}
.histo{
    display: flex;
    flex-wrap:nowrap;
    flex-direction: row;
    padding: 2px 0;
    align-content: space-between;
}
.ronds, .petit-ronds{
    display: flex;
    flex-direction: initial;
    justify-content: space-around;
    padding: 0 15px;
}
.ronds{
    flex-direction: row;
    width: 120px;
    /* border-right: solid 1px #000; */

}
.petit-ronds{
    flex-direction: row;
    width: 120px;
    
}
.rond{
    height: 25px;
    width: 25px;
    border: black solid 1px;
    border-radius: 50%;
    margin: 0 1px;
    
}
.petit-rond{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    margin: 0 1px;
    
}
button{
    padding: 2px;
    border-radius: 5px;
    background-color: cadetblue;
}
/* button:active, #estimation .rond:active, #couleur .rond:active{
    cursor: move;
} */
/* button, #estimation .rond, #couleur .rond{
    cursor: pointer;
} */

.red{
    background-color: #f00;
}
.blue{
    background-color: #00f;
}
.green{
    background-color: #0f0;
}
.yellow{
    background-color: #ff0;
}
.orange{
    background-color: #f80;
}
.violet{
    background-color: #808;
}
.blanc{
    background-color: #fff;
}
.black{
    background-color: #000;
}
.grey{
    background-color: grey;
}